<html>
    <head>
        <title>
                RDAK APP
        </title>
    </head>
    <body> <center><h1>  BUSINESS MANAGEMENT APP </h1>
    <br><h3>M/s RAM DHAN ASHOK KUMAR</h3>
    <br>
    <a href = "/clients/addclient">add client</a><br>
    <a href = "/clients/addsite">add site</a>
</center>
</body>
</html>